*{
    font-family: sans-serif;
}
.panel {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    margin-right: 5px;
}
.section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 5px;
}
input[type="number"]{
    width: 40px
}
input[type="text"]{
    width: 140px;
}
h2{
    background-color: lightgreen;
    font-size: 1em;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
}
h3{
    background-color: lavender;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 0px;
    margin-bottom: 1px;
    font-size: 1em;
}
body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
th,td{
    text-align: center;
}
